body {
    background-color: #fad6a0; 
    color: #333; 
  }
  
 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
  
h1, h2, h3 {
    font-weight: bold;
    color: #05172b; 
}

.navbar {
    background-color: #0f0f0f;
}
.navbar a {
    color: white;
    text-decoration: none;
}

.pasbo {
    text-decoration: none;
}